<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823846158037-b4iqi4p9kro8kea32sjkmsum19v4i8r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823846158037-b4iqi4p9kro8kea32sjkmsum19v4i8r8</string>
	<key>API_KEY</key>
	<string>AIzaSyAyF7RtRqF7K0d-Er3qHj-LC_jBMuSYGC0</string>
	<key>GCM_SENDER_ID</key>
	<string>823846158037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacoblucas.Truthify</string>
	<key>PROJECT_ID</key>
	<string>notion-c15ff</string>
	<key>STORAGE_BUCKET</key>
	<string>notion-c15ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823846158037:ios:adf0679a0ca35da23a6c5c</string>
</dict>
</plist>